:root {
    --link-color: #0077ff
}

body {
    font-family: sans-serif;
    margin: 0
}

a:not(.link-ignore) {
    text-decoration: none;
    color: var(--link-color)
}

a:active, a:hover {
    text-decoration: underline
}

.flex {
    display: flex
}

.col {
    flex-direction: column
}

.center-items {
    align-items: center
}

div.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 52px;
    overflow: hidden;
    border-radius: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important
}

div.topbar > a#topbar-title {
    font-size: 20px;
    color: rgb(114, 114, 114);
    margin-left: 12px;
    vertical-align: middle;
    line-height: 52px;
    text-decoration: none
}

div.topbar > a#topbar-title:hover {
    color: var(--link-color)
}

div.topbar > span#editor-login {
    float: right;
    margin-right: 24px
}

div.topbar > span#editor-login > img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    padding-bottom: 4px
}

div.topbar > span#editor-login > span {
    font-size: 16px;
    color: var(--link-color);
    vertical-align: middle;
    line-height: 52px
}

div.leftbar {
    position: fixed;
    left: 0;
    height: 100%;
    width: 180px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-bottom: 0
}

div.side-link-container {
    margin-top: 24px
}

div.side-link {
    border-style: solid;
    border-width: 0 0 0 3px;
    border-color: transparent;
    padding: 2px 0
}

a.side-link-href,
a.sub-side-link-href {
    text-decoration: none
}

a.sub-side-link-href {
    color: black
}

div.sub-side-link {
    padding: 12px 0
}

div.side-link:hover,
div.sub-side-link:hover {
    background-color: rgb(226, 226, 226);
    transition: background-color 300ms linear
}

div.sub-side-link > span {
    margin-left: 48px;
    font-size: 14px
}

div.sub-side-link-active > span {
    color: var(--link-color)
}

div.side-link > img {
    width: 28px;
    height: 28px;
    margin: 4px 8px
}

div.side-link > span {
    font-size: 18px;
    color: var(--link-color)
}

div.side-link-active {
    border-color: var(--link-color)
}

div.page-container {
    margin: 52px auto auto auto
}

div.content {
    margin-left: 205px;
    margin-bottom: 24px;
    margin-right: 24px;
    padding-top: 24px
}

div.page-title {
    font-size: 32px;
    margin-bottom: 8px
}

div.unified-container {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 8px;
    box-shadow: 0 0 2px lightgray;
    background-color: #fafafa
}

span.game-tag {
    display: inline-block;
    font-size: 14px;
    background-color: lightblue;
    padding: 4px 12px;
    border-style: solid;
    border-color: transparent;
    border-width: 0;
    border-radius: 16px
}

span.game-tag:not(:last-child) {
    margin-right: 8px
}

span.tag-delete-x {
    color: #5e82a3;
    font-size: 12px;
    font-weight: bold;
    margin-left: 6px
}

span.tag-delete-x:hover {
    cursor: pointer
}

div.meta-container {
    position: fixed;
    bottom: 0;
    margin-bottom: 12px;
    margin-left: 12px;
    color: #939393;
    font-size: 14px
}

div.meta-container > :not(:last-child) {
    margin-bottom: 4px
}
